@import url("https://use.typekit.net/seh6wxs.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "sofia-pro", sans-serif;
  text-align: center;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.poem__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 25px;
}

.poem {
  display: flex;
  flex-direction: column;
  width: 750px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  border-top: 4px solid transparent;
}

.poem__title {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  cursor: pointer;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.poem__title:hover {
  background: #e7eaed;
}

.final__place {
  font-size: 3rem;
  color: #ced4da
}

